  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3><%= t(:diaries_list) %></h3>
      <!--検索拡張機能  -->
      <%= form_tag root_path, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search], placeholder: t(:which_diaries) %>
          <%= submit_tag t(:search), :name => nil %>
        </p>
      <% end %> 
      <%= render 'shared/feed' %>
    </div>
  </div>