<div class="center jumbotron">
  <h1><%= t(:Welcome_to_SK8RICKS) %></h1>

  <h2><%= t(:skate_experience) %></h2>

  <%= link_to t(:sign_up_now), signup_path, class: "btn btn-lg btn-primary" %>
</div>
<small>This app was created by Hiroaki Inoue</small>
<!--  
    <= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %>
-->