<% provide(:title, "About") %>
<h3><%= t(:SK8RICKS_for?) %></h3>
<p><%= t(:SNS_like) %> <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter-square"></i>Twitter</a> <%= t(:or) %> <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i>Instagram</a> <%= t(:exclusively_for_skaters) %></p>
<p><%= t(:Lets_share) %></p>
<p><%= t(:Enjoy_your_skate_life) %></p>