<% provide(:title, "Help") %>
<h3>Help</h3>
<p><a href="https://www.google.co.jp" target="_blank"><i class="fab fa-google-plus-square"></i>Google</a> it to get help what you need. Don't ask people.</p>
<p>Or visit <a href="https://railstutorial.jp" target="_blank"><%= fa_icon 'ruby' %>Ruby on Rails Tutorial</a>. It may work for you.</p>
<p>May the force be with you, brother.</p>