<% provide(:title, "Log in") %>
<h1><%= t(:Login) %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label t(:Email) %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label t(:Password) %>
      <%= link_to t(:Forgot_Password), new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit t(:Login), class: "btn btn-primary" %>
    <% end %>

    <p><%= t(:new_user) %><%= link_to t(:kochira), signup_path %></p>
  </div>
</div>