<h1>SK8RICKS</h1>

<p><%= t(:hi) %> <%= @user.name %><%= t(:konnma) %><br><%= t(:welcome_mail) %></p>

<%= link_to t(:activate), edit_account_activation_url(@user.activation_token, email: @user.email) %>