<h1><%= t(:password_reset) %></h1>

<p><%= t(:to_reset_pass) %></p>

<%= link_to t(:password_reset), edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p><%= t(:link_expire) %></p>

<p><%= t(:ignore_mail) %></p>