<div class="main parks-new">
  <div class="container">
    <h1 class="form-heading">edit</h1>
    <%= form_tag("/parks/#{@park.id}/update", {multipart: true}) do %>
      <div class="form">
        <div class="form-body">
          <% @park.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <textarea name="content"><%= @park.content %></textarea>
          <p>Picture</p>
          <input name="image" type="file">
          <input type="submit" value="revise">
        </div>
      </div>
    <% end %>
  </div>
</div>