<div class="main parks-index">
  <div class="container">
    <h1 class="form-heading"><%= t(:recommended_parks) %></h1>
    
    <div class="parks-index-item">
      <div class="park-name">
        <h3>1. <%= t(:murasaki_park) %></h3>
      </div>
      <div class="park-picture">
        <img src="/park_images/murasakipark.jpg">
      </div>
      <div class="park-content">
        <p> <i class="fas fa-map-marker-alt"></i> 19-1, Senjusekiyachou, Adachi-ku, Tokyo 〒120-0024 </p>
        <p> <i class="far fa-clock"></i> 15:00～21:45</p>
        <p> <i class="fas fa-desktop"></i><a href="http://murasakipark.jp/" target="_blank"> Murasaki park</a></p>
        <p> </p>
      </div>
    
      <div class="park-name">
        <h3>2. <%= t(:komazawa_park) %></h3>
      </div>
      <div class="park-picture">
        <img src="/park_images/komazawa_park.jpg">
      </div>
      <div class="park-content">
        <p> <i class="fas fa-map-marker-alt"></i> 1-1, Komazawakoen, Setagaya-ku, Tokyo 〒154-0013 </p>
        <p> <i class="far fa-clock"></i> 10:00～sunset</p>
        <p> <i class="fas fa-desktop"></i><a href="https://www.tef.or.jp/kopgp/openspace.jsp" target="_blank">Komazawa park</a></p>
        <p> </p>
      </div>
    </div>
    
  </div>
</div>