<div class="main parks-show">
  <div class="container">
    <div class="parks-show-item">
      <img src="<%= "/park_images/#{@park.image_name}" %>">
      <p><%= @park.content %></p>
      <div class="park-time">
        <%= @park.created_at %>
      </div>
      <div class="park-menus">
        <%= link_to("edit", "/parks/#{@park.id}/edit") %>
        <%= link_to("delete", "/parks/#{@park.id}/destroy", {method: "post"}) %>
      </div>
    </div>
  </div>
</div>