<% if micropost.like_user(current_user.id) %>
  <%= button_to micropost_like_path(likes, micropost_id: micropost.id), method: :delete, id: "like-button", remote: true do %> 
    <%= fa_icon 'thumbs-up' %>
    <span>
      <%= micropost.likes_count %>
    </span>
  <% end %>
<% else %>
  <%= button_to micropost_likes_path(micropost),id: "like-button", remote: true do %>  
    <%= fa_icon 'thumbs-up' %>
    <span>
      <%= micropost.likes_count %>
    </span>
  <% end %>
<% end %>