<%= form_for(@user, url: yield(:url)) do |f| %>   <!--注目 -->
  <%= render 'shared/error_messages', object: @user %>

  <%= f.label t(:name) %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label t(:email) %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label t(:password) %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label t(:password_confirmation) %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>