<% provide(:title, 'All users') %>
<h1><%= t(:users) %></h1>
<%= will_paginate %>

<!--  検索拡張機能  -->
<%= form_tag(users_path, method: :get) do %>
  <%= text_field_tag :search, params[:search], placeholder: t(:who_look) %>
  <%= submit_tag t(:search), :name => nil %>
<% end %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>