.parks-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.park-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.park-user-name a {
  font-weight: 600;
}

.park-user-name a:hover {
  color: #3ecdc6;
}

.park-left {
  float: left;
  width: 10%;
}

.park-right {
  float: left;
  width: 90%;
  padding-left: 25px;
  text-align: left;
}

/* posts/show ================================ */
.parks-show form {
  display: inline;
}

.parks-show-item {
  padding: 30px;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
}

.parks-show-item img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  vertical-align: middle;
  object-fit: cover;
}

.parks-show-item .park-user-name a {
  vertical-align: middle;
  font-size: 24px;
  margin-left: 15px;
}

.parks-show-item p {
  font-size: 24px;
  margin: 20px 0;
}

.park-time {
  color: #8899a6;
  margin-bottom: 10px;
}

.park-menus {
  float: right;
}

.park-menus a, .park-menus input {
  color: #8899a6;
  text-decoration: underline;
  font-size: 14px;
}

/* posts/new ================================ */
.parks-new textarea {
  font-size: 20px;
  padding: 10px;
  min-height: 140px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
}

.parks-new textarea::-webkit-input-placeholder {
  font-size: 24px;
  opacity: 0.5;
}