<footer class="footer">
<!--
  <small>The app was created by Hiroaki Inoue</small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><a href="URL">News</a></li>
    </ul>
  </nav>
-->
</footer>