<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "SK8RICKS", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to t(:diaries), root_path %></li>
          <li><%= link_to t(:park), parks_index_path %></li>
          <li><%= link_to t(:users), users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t(:account) %><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to t(:profile), current_user %></li>
              <li><%= link_to t(:setting), edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t(:log_out), logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t(:about), about_path %></li>
          <li><%= link_to t(:login), login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>